<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Model Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="x-icon" href="favicon.ico">
    <!-- Place favicon.ico in the root directory -->


<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loogi-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loogi-responsive.css') }}">


</head>

<body onload="Function()">
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	  <![endif]-->

    <div class="page-wrapper">
        <div class="preloader">
            <div class="inner">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <section>

        <div class="login-area login-5 vh need-padding">
            <div class="container-fluid no-padding no-gutters">
                <div class="login-2 sign-in-form">


                    <form name = "upload" method = "post" action = "predict" enctype="multipart/form-data">


                        <div class="login-form-1">
                            <div class="container-fluid no-padding no-gutters">
                                <div class="row no-gutters">
                                    <div class="col-lg-6 bg-black-2 align-items-center">
                                        <div class="extra-padding text-margin">

                                            <span><a href="http://127.0.0.1:8000/"
                                                    style="color: rgb(98, 136, 239); font-size: large;">Home </a></span>

                                            <br> <br> <br>

                                            <div class="text-title mt-3 text-left">
                                                <h3 class="bg-color-white">Uplode Image</h3>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="file" class="form-control" id="inputGroupFile01" name = "fileup">
                                            </div>

                                            <div class="send-btn">
                                                <button type="submit" class="default-btn" >
                                                    submit
                                                </button>
                                            </div>

                                            <br> <br>
                                            <p id = "p">

                                                <h4 id ="demo" class="bg-color-white " style ="fontWeight = 900"> </h4>
                                                <br>

                                                <h5 id = "warning" style="fontWeight: 700">You may need back to a doctor!</h5>
                                            </p>

                                                <br>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-items-center">
                                        <div class="slider-wrapper vh d-flex "
                                            style="background-image:url(static/img/portfolio/5.jpg)">
                                            <div class="text-warp">
                                                <div class="text-title mt-3 text-left">
                                                    <h1 class="bg-color-white mb-30">Welcome to Covax! </h1>
                                                    <p>
                                                    <h4 class="bg-color-white "> Which is a website for detecting if you have
                                                covid-19, any heart diseases or not... </h4>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



<script src="{{ url_for('static', filename='js/vendor/modernizr-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fancyBox%20v2.1.5.js') }}"></script>
<script src="{{ url_for('static', filename='js/loogi-main.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

<script>
    function Function(){
        document.getElementById("demo").innerHTML = "{{prediction}}";
        document.getElementById("warning").style.color = "red";
    }
</script>

</body>


</html>